<template>
  <div>
    <div class="text-center">
      <h1>LIVE HOOKUP REQUEST</h1>
      <br><br>
    </div>

    <div class="text-center alert-success" v-if="afterSubmit.success">
      <br>
      <h3>Great!</h3>

      <br>

      <p>
        We have successfully sent your request to an assigned worker.
        <br>
        Your request will be reviewed and a confirmation will be sent via email or sms.
      </p>
      <br>
    </div>

    <div class="text-center alert-danger"
         v-if="afterSubmit.error">
      <br>
      <h3>There was an error with your request.</h3>
      <br>

      <p>Sorry, we are unable to process your request. Please try again</p>

      <br>
    </div>

    <div v-if="afterSubmit.success || afterSubmit.error">
      <br><br>

      <button class="c-btn c-btn--primary c-btn--full"
              @click="showForm">
        Submit a new hookup request
      </button>

      <br><br>
      <button class="c-btn c-btn--full"
              @click="returnToMenu">Return to main menu</button>
    </div>

    <form class="hookup-form"
          v-show="!afterSubmit.success && !afterSubmit.error"
          @submit.prevent="formSubmit">
      <fieldset>
        <label for="locale">
          Locale <span class="required">*</span>
        </label>

        <input class="c-txt__input" id="locale" type="text" placeholder="Locale"
               v-model="form.locale">
      </fieldset>

      <fieldset>
        <label for="hookupReason">
          Hookup Reason <span class="required">*</span>
        </label>

        <textarea class="c-txt__input c-txt__input--area" id="hookupReason"
                  placeholder="Your reason for hookup request"
                  v-model="form.reason"></textarea>
      </fieldset>

      <button class="c-btn" @click="returnToMenu">Cancel</button>
      &nbsp;&nbsp;

      <button class="c-btn c-btn--primary"
              :disabled="!canSubmit"
              type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      form: {
        to: {
          email: 'rafunzelniocena@yahoo.com',
          name: 'Rafunzel Niocena',
        },
        serviceDate: null,
        type: {
          option: null,
          other: null,
        },
        name: 'Rafunzel Niocena',
        locale: 'Melbourne',
        email: 'rniocena@gmail.com',
        mobile: null,
        reason: null,
        elder: null,
      },
      afterSubmit: {
        success: false,
        error: false,
      },
    }
  },

  computed: {
    canSubmit() {
      return this.form.to.email && this.form.locale && this.form.reason
    },
  },

  mounted() {
    //    window.emailjs.init('user_VRuiFOZKWov9nUnyCdnmY')
  },

  methods: {
    returnToMenu() {
      this.$store.dispatch('request/selectedRequest', null)
    },

    formSubmit() {
      const vm = this

      /*const params = {
        to_email: this.form.to.email,
        from_email: this.form.email,
        from_full_name: this.form.name,
        to_name: this.form.to.name,
        from_locale: this.form.locale,
        date_of_service: 'today',
        reason: this.form.reason,
      }*/

      /*window.emailjs.send('gmail', 'hookup_registration', params).then(
        () => {
          vm.afterSubmit.success = true
          vm.afterSubmit.error = false
        },
        () => {
          vm.afterSubmit.success = false
          vm.afterSubmit.error = true
        }
      )*/

      vm.afterSubmit.success = true
      vm.afterSubmit.error = false
    },

    showForm() {
      this.afterSubmit.success = false
      this.afterSubmit.error = false
    },
  },

  components: {
    DefaultLayout,
  },
}
</script>
