<template>
  <div>
    <div class="text-center">
      <h1>MAKEUP REQUEST</h1>
      <br><br>
    </div>

    <div class="text-center alert-success" v-if="afterSubmit.success">
      <br>
      <h3>Great!</h3>

      <br>

      <p>
        We have successfully sent your request to an assigned worker.
        <br>
        Your request will be reviewed and a confirmation will be sent via email or sms.
      </p>
      <br>
    </div>

    <div class="text-center alert-danger"
         v-if="afterSubmit.error">
      <h3>There was an error with your request.</h3>
      <h4>Please try again.</h4>
    </div>

    <div v-if="afterSubmit.success || afterSubmit.error">
      <br><br>

      <button class="c-btn c-btn--primary c-btn--full" @click="showForm">Submit a new request</button>

      <br><br>

      <button class="c-btn c-btn--full"
              @click="returnToMenu">Return to main menu</button>
    </div>

    <form class="hookup-form"
          v-show="!afterSubmit.success && !afterSubmit.error"
          @submit.prevent="formSubmit">
      <fieldset>
        <label for="serviceDate">
          Date of Service <span class="required">*</span>
        </label>

        <input class="c-txt__input c-txt__input--select" id="serviceDate"
               placeholder="Service Date" required="" type="date"
               v-model="form.serviceDate">
      </fieldset>

      <fieldset>
        <label>
          Type of service <span class="required">*</span>
        </label>

        <div class="l-grid__item u-1/3">
          <div class="c-chk u-mb-xs">
            <input class="c-chk__input" id="chk-01" type="radio"
                   value="PBB/SPBB"
                   v-model="form.type.option">
            <label class="c-chk__label c-chk__label--regular" for="chk-01">PBB/SPBB</label>
          </div>
          <div class="c-chk u-mb-xs">
            <input class="c-chk__input" id="chk-02" type="radio"
                   value="PM"
                   v-model="form.type.option">
            <label class="c-chk__label c-chk__label--regular" for="chk-02">PM</label>
          </div>
          <div class="c-chk">
            <input class="c-chk__input" id="chk-03" type="radio"
                   value="WS"
                   v-model="form.type.option">
            <label class="c-chk__label c-chk__label--regular" for="chk-03">WS</label>
          </div>

          <div class="c-chk">
            <input class="c-chk__input" id="chk-04" type="radio"
                   value="Other"
                   v-model="form.type.option">
            <label class="c-chk__label c-chk__label--regular" for="chk-04">Other</label>
            <input class="c-txt__input" type="text" placeholder="Type of service"
                   v-show="form.type.option === 'Other'"
                   v-model="form.type.other">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <label for="locale">
          Locale <span class="required">*</span>
        </label>

        <select class="c-txt__input c-txt__input--select" id="locale"
                v-model="form.locale">
          <option value="empty">--Select your locale--</option>
          <option v-for="locale in testData.testData.locales"
                  :value="locale.id">
            {{ locale.human_name }}
              </option>
        </select>
      </fieldset>

      <fieldset>
        <label for="hookupReason">
          Hookup Reason <span class="required">*</span>
        </label>

        <textarea class="c-txt__input c-txt__input--area" id="hookupReason"
                  placeholder="Your reason for hookup request"
                  v-model="form.reason"></textarea>
      </fieldset>


      <button class="c-btn" @click="returnToMenu">Cancel</button>
      &nbsp;&nbsp;
      <button class="c-btn c-btn--primary"
              :disabled="!canSubmit"
              type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      form: {
        to: {
          email: 'rafunzelniocena@yahoo.com',
          name: 'Rafunzel Niocena',
        },
        serviceDate: null,
        type: {
          option: null,
          other: null,
        },
        name: null,
        locale: 'empty',
        email: null,
        mobile: null,
        reason: null,
        elder: null,
      },
      afterSubmit: {
        success: false,
        error: false,
      },
    }
  },

  computed: {
    serviceType() {
      let serviceType = 'Other'

      if (this.form.type.option !== 'Other') {
        serviceType = this.form.type.option
      } else {
        serviceType = this.form.type.other
      }

      return serviceType
    },

    canSubmit() {
      return (
        this.form.locale !== 'empty' &&
        this.serviceType &&
        this.form.serviceDate &&
        this.form.reason
      )
    },
  },

  mounted() {
    //    window.emailjs.init('user_VRuiFOZKWov9nUnyCdnmY')
  },

  methods: {
    returnToMenu() {
      this.$store.dispatch('request/selectedRequest', null)
    },

    formSubmit() {
      /*const vm = this

      let serviceType = 'Other'

      if (this.form.type.option !== 'Other') {
        serviceType = this.form.type.option
      } else {
        serviceType = this.form.type.other
      }

      const params = {
        to_email: this.form.to.email,
        from_email: this.form.email,
        from_full_name: this.form.name,
        to_name: this.form.to.name,
        from_locale: this.form.locale,
        elder_assigned: this.form.elder,
        type_of_service: serviceType,
        date_of_service: this.form.serviceDate,
        reason: this.form.reason,
      }

      window.emailjs.send('gmail', 'hookup_registration', params).then(
        () => {
          vm.afterSubmit.success = true
          vm.afterSubmit.error = false
        },
        () => {
          vm.afterSubmit.success = false
          vm.afterSubmit.error = true
        }
      )*/

      this.afterSubmit.success = true
      this.afterSubmit.error = false
    },

    showForm() {
      this.afterSubmit.success = false
      this.afterSubmit.error = false
    },
  },

  components: {
    DefaultLayout,
  },
}
</script>
