<template>
  <div class="container">
    <div class="text-center" v-if="!requestTypeSelected">
      <h2>Please select from the options below</h2>
      <br><br>

      <button class="c-btn c-btn--primary c-btn--full"
              @click.prevent="selectRequestType('live')">
        Request for a live hookup
      </button>

      <br><br>

      <button class="c-btn c-btn--primary c-btn--danger c-btn--full"
              @click.prevent="selectRequestType('makeup')">
        Request access for a past service
      </button>


      <br><br>

      <button class="c-btn c-btn--full"
              @click.prevent="logout">
        Logout
      </button>
    </div>

    <hookup-service v-if="requestTypeSelected === 'live'"></hookup-service>

    <makeup-service v-if="requestTypeSelected === 'makeup'"></makeup-service>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'
import HookupService from '@/pages/request/hookup'
import MakeupService from '@/pages/request/makeup'

export default {
  mixins: [GlobalMixin],

  computed: {
    requestTypeSelected() {
      return this.storeStates.request.selected.request
    },
  },

  data() {
    return {
      serviceSelected: null,
    }
  },

  mounted() {
    console.log(this.storeStates)
  },

  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
    },

    selectRequestType(type) {
      this.$store.dispatch('request/selectedRequest', type)
    },
  },

  components: {
    DefaultLayout,
    HookupService,
    MakeupService,
  },
}
</script>
