.center {
  &--text {
    text-align: center;
  }
}

.form {
  &--fieldset {
    padding-bottom: 25px;
  }

  &--div {
    & label {
      float: left;
    }

    & .c-txt__input {
      float: right;
    }
  }
}

.c-tab__list__item {
  overflow: visible;
}