<template>
  <div class="container">
    <div>
      <div class="text-center">
        <h2 id="email-lbl">Register</h2>
      </div>

      <br><br>

      <form @submit.prevent="register">
        <fieldset class="form--fieldset">
          <div class="form--div">
            <label for="email">Email</label>
            <input class="c-txt__input" id="email"
                   placeholder="Email Address" type="email"
                   v-model="storeStates.auth.email" disabled>
          </div>
        </fieldset>

        <fieldset class="form--fieldset">
          <div class="form--div">
            <label for="first_name">First Name</label>
            <input class="c-txt__input" id="first_name"
                   placeholder="Enter your first name" type="text"
                   v-model="form.first_name">
          </div>
        </fieldset>

        <fieldset class="form--fieldset">
          <div class="form--div">
            <label for="last_name">Last Name</label>
            <input class="c-txt__input" id="last_name"
                   placeholder="Enter your last name" type="text"
                   v-model="form.last_name">
          </div>
        </fieldset>

        <fieldset class="form--fieldset">
          <div class="form--div">
            <label for="locale">Locale</label>
            <select class="c-txt__input c-txt__input--select" id="locale"
                    v-model="form.locale_id">
              <option value="empty">--Select your locale--</option>
              <option v-for="locale in testData.testData.locales"
                      :value="locale.id">
                {{ locale.human_name }}
              </option>
            </select>
          </div>
        </fieldset>

        <fieldset class="form--fieldset">
          <div class="form--div">
            <label for="church_id">Church ID</label>
            <input class="c-txt__input" id="church_id"
                   placeholder="Enter your Church ID" type="text"
                   v-model="form.church_id">
          </div>
        </fieldset>

        <fieldset class="form--fieldset">
          <div class="form--div">
            <label for="mobile_number">Mobile Number</label>
            <input class="c-txt__input" id="mobile_number"
                   placeholder="+61 4123 45678" type="text"
                   v-model="form.mobile_number">
          </div>
        </fieldset>


        <fieldset class="form--fieldset">
          <div class="form--div">
            <label for="password">Password</label>
            <input class="c-txt__input" id="password" type="password"
                   v-model="form.password">
          </div>
        </fieldset>

        <fieldset class="form--fieldset">
          <div class="form--div">
            <label for="confirm_password">Confirm Password</label>
            <input class="c-txt__input" id="confirm_password" type="password"
                   v-model="form.confirm_password">
          </div>
        </fieldset>

        <br>

        <button class="c-btn c-btn--primary c-btn--full" v-show="canSubmit"
                type="submit">Submit</button>
      </form>

    </div>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      form: {
        first_name: 'Test',
        last_name: 'User',
        locale_id: 1,
        church_id: 'ABCD1234',
        district_id: 1,
        role_id: 1,
        baptized_at: '2018-11-14',
        baptized_by: 'Baptizer Name',
        baptized_location: 'Melbourne, Australia',
        email: 'testuser@test.com',
        password: 'test123',
        confirm_password: 'test123',
        mobile_number: '123456789',
        is_elder: false,
        is_admin: false,
        created_at: '2018-11-14 23:00:00',
      },
    }
  },

  computed: {
    canSubmit() {
      return this.email !== null
    },
  },

  methods: {
    register() {
      this.$store.dispatch('auth/register', this.form)
    },
  },

  components: {
    DefaultLayout,
  },
}
</script>
