<template>
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <form class="login100-form validate-form" @submit.prevent="login">
					<span class="login100-form-title p-b-33">
						Account Login
					</span>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="Email"
                 v-model="email">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="pass" placeholder="Password"
                 v-model="password">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="container-login100-form-btn m-t-20">
          <button class="login100-form-btn" type="submit" :disabled="loading.button">
            <span v-if="loading.button">
              <i class="fa fa-spin fa-spinner"></i> Signing in ...
            </span>
            <span v-else>Sign in</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      email: null,
      password: null,
      loading: {
        button: false,
      },
    }
  },

  computed: {
    canSubmit() {
      return this.password !== null
    },
  },

  methods: {
    login() {
      const vm = this
      const url = `${this.baseUrl}/api/login`

      const data = {
        email: this.email,
        password: this.password,
      }

      this.loading.button = true

      this.$http.post(url, data).then(response => {
        vm.loading.button = false

        if (response && response.data) {
          vm.$store.dispatch('auth/login', response.data.token)
        }
      })
    },
  },

  components: {
    DefaultLayout,
  },
}
</script>
