<template>
  <div>
    <div>
      <div class="text-center">
        <h3>Hookup Requests</h3>
      </div>

      <br><br>

      <div class="text-center" v-if="loading">
        <br><br>
        <page-loader></page-loader>
        <h5>Loading</h5>
      </div>

      <div v-if="!loading">
        <button class="c-btn c-btn--sm c-btn--primary" @click="newRequest">
          <i class="fa fa-plus"></i> New Request
        </button>

        <div class="text-center"
            v-if="!requests || requests.length === 0">
          <br><br>
          <h4>
            <strong>No pending requests</strong>
          </h4>
        </div>

        <div v-else>
          <br><br>
          <table id="hookupList" class="table table-striped videos-table">
            <thead>
            <tr>
              <th class="col-sm-1 text-center">Name</th>
              <th class="col-sm-1 text-center">Contact</th>
              <th class="col-sm-1 text-center">Locale</th>
              <th class="col-sm-1 text-center">Service Type</th>
              <th class="col-sm-2 text-center">Service Date</th>
              <th class="col-sm-2 text-center">Reason</th>
              <th class="col-sm-2 text-center">Requested At</th>
              <th class="col-sm-4 text-center">Approval Info</th>
              <th class="col-sm-4 text-center">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr class="text-center" v-for="request in requests">
              <td>
                {{ request.user.first_name }} {{ request.user.last_name }}
              </td>
              <td>
                {{ request.user.mobile_number }}
              </td>
              <td>
                {{ request.locale.name }}
              </td>
              <td>
                {{ request.service_type }}
              </td>
              <td>
                {{ request.service_date }}
              </td>
              <td>
                {{ request.reason }}
              </td>
              <td>
                {{ request.created_at }}
              </td>
              <td>
                <div v-if="request.status === 'approved'">
                  <div>
                    Approval Date:
                    <br>
                    <strong>{{ request.approved_at }}</strong>
                  </div>
                  <div v-if="approvedBy(request)">
                    <br>
                    Approved By:
                    <br>
                    <strong>{{ approvedBy(request) }}</strong>
                  </div>
                </div>
              </td>
              <td>
                <span v-if="selected.hookupId === request.id && selected.loading">
                  <br>
                  <i class="fa fa-spin fa-spinner"></i>
                  <br>
                  Processing...
                  <br><br>
                </span>
                <div v-if="canShowActions(request)">
                  <button class="c-btn c-btn--sm c-btn--primary"
                          @click="pendingRequestAction('approved', request.id)">
                    Approve
                  </button>
                  <br><br>
                  <button class="c-btn c-btn--sm c-btn--danger"
                          @click="pendingRequestAction('declined', request.id)">
                    Decline
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'
import PageLoader from '@/components/common/page-loader'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      requests: null,
      loading: true,
      selected: {
        hookupId: null,
        loading: false,
        response: {
          approve: {
            success: false,
            error: false,
          },
          decline: {
            success: false,
            error: false,
          },
        },
      },
    }
  },

  props: {
    users: {
      required: true,
    },

    locales: {
      required: true,
    },
  },

  mounted() {
    this.getAllHookup()
  },

  methods: {
    isSelected(hookupId) {
      return hookupId === this.selected.hookupId
    },

    canShowActions(request) {
      return this.selected.hookupId !== request.id && request.status === 'pending'
    },

    getAllHookup() {
      const vm = this
      const url = `${this.baseUrl}/api/hookup`

      this.$http.get(url).then(response => {
        vm.selected.loading = false
        vm.loading = false
        if (response && response.data) {
          vm.requests = response.data.data

          vm.getRequestUser(vm.requests, vm.users)
          vm.getRequestLocale(vm.requests, vm.locales)
        }
      })
    },

    getRequestUser(currentRequests, currentUsers) {
      currentRequests.forEach(request => {
        const hookupUsers = currentUsers.filter(user => {
          return user.id === request.user_id
        })

        request.user = hookupUsers[0]
      })
    },

    approvedBy(request) {
      const currentUsers = this.users

      const users = currentUsers.filter(user => {
        return user.id === parseInt(request.approved_by)
      })

      if (users && users.length > 0) {
        return `${users[0].first_name} ${users[0].last_name}`
      }

      return null
    },

    getRequestLocale(currentRequests, currentLocales) {
      currentRequests.forEach(request => {
        const hookupLocale = currentLocales.filter(locale => {
          return locale.id === request.locale_id
        })

        request.locale = hookupLocale[0]
      })
    },

    newRequest() {
      this.$router.push({
        name: 'request.new',
      })
    },

    pendingRequestAction(type, hookupId) {
      const vm = this
      const url = `${this.baseUrl}/api/hookup/${hookupId}`

      this.selected.hookupId = hookupId
      this.selected.loading = true

      const data = {
        status: type,
      }

      this.$http.put(url, data)
        .then(response => {
          const currentRequests = vm.requests

           if (currentRequests) {
             const selectedRequest = currentRequests.filter(request => {
               return request.id === hookupId
             })

             if (selectedRequest && selectedRequest.length > 0) {
              selectedRequest[0] = response.data.data
             }
           }

           vm.getAllHookup()
        })
    },
  },

  components: {
    DefaultLayout,
    PageLoader,
  },
}
</script>
