<template>
  <div class="container">
    <div>
      <div class="text-center">
        <h3>Create New Request</h3>
      </div>

      <br><br>

      <div class="text-center alert-success" v-if="afterSubmit.success">
        <br>
        <h3>Great!</h3>

        <br>

        <p>
          We have successfully sent your request to an assigned worker.
          <br>
          Your request will be reviewed and a confirmation will be sent via email or sms.
        </p>
        <br>
      </div>

      <div class="text-center alert-danger"
           v-if="afterSubmit.error">
        <br>
        <h3>There was an error with your request.</h3>
        <br>
        <p>Please try again.</p>
        <br>
      </div>

      <div v-if="afterSubmit.success || afterSubmit.error">
        <br><br>

        <button class="c-btn c-btn--primary c-btn--full" @click="showForm">Submit a new request</button>

        <br><br>

        <button class="c-btn c-btn--full"
                @click="returnToList">Return to dashboard</button>
      </div>

      <div v-if="!requestLoading.locales && !requestLoading.users">
        <form class="hookup-form"
              v-show="!afterSubmit.success && !afterSubmit.error"
              @submit.prevent="submitHookupRequest">
          <fieldset>
            <label for="user">
              User <span class="required">*</span>
            </label>

            <select class="c-txt__input c-txt__input--select" id="user"
                    v-model="form.user">
              <option value="empty">--Select a user--</option>
              <option v-for="user in users"
                      :value="user">
                {{ user.first_name }} {{ user.last_name }} ({{ user.church_id }})
              </option>
            </select>
          </fieldset>

          <fieldset v-if="selectedUser && selectedUser.locale">
            <label for="locale">
              Locale
            </label>

            <input class="c-txt__input c-txt__input--select" id="locale"
                   disabled
                   placeholder="Service Date" :value="selectedUser.locale.name">
          </fieldset>


          <fieldset>
            <label for="serviceDate">
              Date of Service <span class="required">*</span>
            </label>

            <input class="c-txt__input c-txt__input--select" id="serviceDate"
                   placeholder="Service Date" required="" type="date"
                   v-model="form.serviceDate">
          </fieldset>

          <fieldset>
            <label>
              Type of service <span class="required">*</span>
            </label>

            <div class="l-grid__item u-1/3">
              <div class="c-chk u-mb-xs">
                <input class="c-chk__input" id="chk-01" type="radio"
                       value="PBB/SPBB"
                       v-model="form.type.option">
                <label class="c-chk__label c-chk__label--regular" for="chk-01">PBB/SPBB</label>
              </div>
              <div class="c-chk u-mb-xs">
                <input class="c-chk__input" id="chk-02" type="radio"
                       value="PM"
                       v-model="form.type.option">
                <label class="c-chk__label c-chk__label--regular" for="chk-02">PM</label>
              </div>
              <div class="c-chk">
                <input class="c-chk__input" id="chk-03" type="radio"
                       value="WS"
                       v-model="form.type.option">
                <label class="c-chk__label c-chk__label--regular" for="chk-03">WS</label>
              </div>

              <div class="c-chk">
                <input class="c-chk__input" id="chk-04" type="radio"
                       value="Other"
                       v-model="form.type.option">
                <label class="c-chk__label c-chk__label--regular" for="chk-04">Other</label>
                <input class="c-txt__input" type="text" placeholder="Type of service"
                       v-show="form.type.option === 'Other'"
                       v-model="form.type.other">
              </div>
            </div>
          </fieldset>

          <fieldset>
            <label for="hookupReason">
              Hookup Reason <span class="required">*</span>
            </label>

            <textarea class="c-txt__input c-txt__input--area" id="hookupReason"
                      placeholder="Your reason for hookup request"
                      v-model="form.reason"></textarea>
          </fieldset>


          <button class="c-btn" @click="returnToList">Cancel</button>
          &nbsp;&nbsp;
          <button class="c-btn c-btn--primary"
                  :disabled="!canSubmit"
                  type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'
import PageLoader from '@/components/common/page-loader'
import UserService from '@/services/users'
import LocaleService from '@/services/locales'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      requests: null,
      loading: true,
      afterSubmit: {
        error: false,
        success: false,
      },
      form: {
        serviceDate: null,
        type: {
          option: null,
          other: null,
        },
        reason: null,
        user: null,
      },
      selectedUser: null,
      users: null,
      locales: null,
      requestLoading: {
        users: true,
        locales: true,
        submit: false,
      },
    }
  },

  computed: {
    serviceType() {
      let serviceType = 'Other'

      if (this.form.type.option !== 'Other') {
        serviceType = this.form.type.option
      } else {
        serviceType = this.form.type.other
      }

      return serviceType
    },

    canSubmit() {
      return this.serviceType && this.form.serviceDate && this.form.reason
    },

    userSelected() {
      return this.storeStates.request.selected.user
    },
  },

  watch: {
    'form.user'(user) {
      if (user && this.locales) {
        user.locale = this.getUserLocale(user, this.locales)

        this.selectedUser = user
      }
    },
  },

  mounted() {
    this.getAllUsers()
    this.getAllLocales()

    this.populateForm()
  },

  methods: {
    populateForm() {
      if (this.userSelected) {
        this.form.user = this.userSelected
        this.selectedUser = this.userSelected
      }
    },

    getAllUsers() {
      const vm = this
      const getUsers = UserService.getAllUsers()

      getUsers.then(response => {
        vm.requestLoading.users = false
        if (response && response.data) {
          vm.users = response.data.data
        }
      })
    },

    getAllLocales() {
      const vm = this
      const getLocales = LocaleService.getAllLocales()

      getLocales.then(response => {
        vm.requestLoading.locales = false
        if (response && response.data) {
          vm.locales = response.data.data
        }
      })
    },

    getUserLocale(selectedUser, currentLocales) {
      const userLocale = currentLocales.filter(locale => {
        return locale.id === selectedUser.locale_id
      })

      return userLocale[0]
    },

    submitHookupRequest() {
      const vm = this
      const data = {
        mobile_number: this.selectedUser.mobile_number,
        locale_id: this.selectedUser.locale_id,
        service_type: this.serviceType,
        service_date: this.form.serviceDate,
        reason: this.form.reason,
      }

      const url = `${this.baseUrl}/api/hookup`

      this.requestLoading.submit = true
      this.requestLoading.submit = false

      this.$http.post(url, data).then(response => {
        vm.requestLoading.submit = false
        vm.$store.dispatch('request/selectedUser', null)

        if (response && response.data) {
          if (response.data.success) {
            vm.afterSubmit.success = true
          } else {
            vm.afterSubmit.error = true
          }
        }
      })
    },

    returnToList() {
      this.$router.push({
        name: 'home.index',
      })
    },

    showForm() {
      this.afterSubmit.success = false
      this.afterSubmit.error = false

      this.form.serviceDate = null
      this.form.type.option = null
      this.form.type.other = null
      this.form.type.reason = null
      this.form.user = null
      this.selectedUser = null
    },
  },

  components: {
    DefaultLayout,
    PageLoader,
  },
}
</script>
