<template>
  <div class="container">
    <div>
      <div class="text-center">
        <h3>Create new locale</h3>
      </div>

      <br><br>

      <div class="text-center alert-success" v-if="afterSubmit.success">
        <br>
        <h3>Great!</h3>

        <br>

        <p v-if="!userSelected">
          We have successfully created the Locale of {{ form.locale_name }}.
        </p>

        <br>
      </div>

      <div class="text-center alert-danger"
           v-if="afterSubmit.error">
        <br>
        <h3>There was an error with your request.</h3>
        <br>
        <p>Please try again.</p>
        <br>
      </div>

      <div v-if="afterSubmit.success || afterSubmit.error">
        <br><br>

        <button class="c-btn c-btn--primary c-btn--full"
                @click="showForm">Create another locale</button>

        <br><br>

        <button class="c-btn c-btn--full"
                @click="returnToList">Return to dashboard</button>
      </div>

      <div>
        <form class="hookup-form"
              v-show="!afterSubmit.success && !afterSubmit.error"
              @submit.prevent="createNewLocale">
          <fieldset>
            <label for="locale_name">
              Locale Name <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="locale_name" required=""
                   v-model="form.locale_name">
          </fieldset>

          <fieldset>
            <label for="address">
              Address <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="address" required=""
                   v-model="form.address">
          </fieldset>

          <fieldset>
            <label for="country">
              Country <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="country" required=""
                   v-model="form.country">
          </fieldset>

          <fieldset>
            <label for="district">
              District <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="district" required=""
                   v-model="form.district">
          </fieldset>

          <fieldset>
            <label for="division">
              Division <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="division" required=""
                   v-model="form.division">
          </fieldset>

          <button class="c-btn" @click="returnToList">Cancel</button>
          &nbsp;&nbsp;
          <button class="c-btn c-btn--primary"
                  :disabled="!canSubmit"
                  type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import GlobalMixin from '@/mixins/global'
  import DefaultLayout from '@/layouts/default-layout'
  import PageLoader from '@/components/common/page-loader'
  import UserService from '@/services/users'
  import LocaleService from '@/services/locales'

  export default {
    mixins: [GlobalMixin],

    data() {
      return {
        loading: true,
        afterSubmit: {
          error: false,
          success: false,
        },
        form: {
          locale_name: null,
          address: null,
          country: null,
          district: null,
          division: null,
        },
        requestLoading: {
          submit: false,
        },
      }
    },

    computed: {
      canSubmit() {
        return this.form.locale_name
          && this.form.address
          && this.form.country
          && this.form.district
          && this.form.division
      },
    },

    methods: {
      createNewLocale() {
        const vm = this

        const data = {
          name: this.form.locale_name,
          address: this.form.address,
          country: this.form.country,
          district: this.form.district,
          division: this.form.division
        }

        this.requestLoading.submit = true

        const url = `${this.baseUrl}/api/locales`

        this.$http.post(url, data).then(response => {
          vm.requestLoading.submit = false

          if (response && response.data) {
            if (response.data.success) {
              vm.afterSubmit.success = true
            } else {
              vm.afterSubmit.error = true
            }
          }
        })
      },

      returnToList() {
        this.$router.push({
          name: 'home.index',
        })
      },

      showForm() {
        this.afterSubmit.success = false
        this.afterSubmit.error = false

        this.form.locale_name = null
        this.form.address = null
        this.form.country = null
        this.form.district = null
        this.form.division = null
      },
    },

    components: {
      DefaultLayout,
      PageLoader,
    },
  }
</script>
