<template>
  <div>
    <div v-if="!selected.members && !selected.elders">
      <div class="text-center">
        <h3>Locales</h3>
      </div>

      <br><br>

      <div class="text-center" v-if="loading">
        <br><br>
        <page-loader></page-loader>
        <h5>Loading</h5>
      </div>

      <div v-if="!loading">
        <button class="c-btn c-btn--sm c-btn--primary" @click="newLocale">
          <i class="fa fa-plus"></i> New Locale
        </button>

        <div class="text-center"
             v-if="!locales || locales.length === 0">
          <br><br>
          <h4>
            <strong>No Locales</strong>
          </h4>
        </div>

        <div v-else>
          <br><br>
          <table id="localeList" class="table table-striped video-table">
            <thead>
            <tr>
              <th class="col-sm-1 text-center">Locale Name</th>
              <th class="col-sm-1 text-center">Country</th>
              <th class="col-sm-1 text-center">District</th>
              <th class="col-sm-1 text-center">Division</th>
              <th class="col-sm-1 text-center">Address</th>
              <th class="col-sm-1 text-center">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr class="text-center" v-for="locale in locales">
              <td>
                {{ locale.name }}
              </td>

              <td>
                {{ locale.country }}
              </td>

              <td>
                {{ locale.district }}
              </td>

              <td>
                {{ locale.division }}
              </td>

              <td>
                {{ locale.address }}
              </td>

              <td>
                <button class="c-btn c-btn--sm c-btn--primary" @click="view('members', locale)">View Members</button>
                <br><br>
                <!--<button class="c-btn c-btn&#45;&#45;sm c-btn&#45;&#45;default" @click="view('elders', locale)">View Elders</button>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <locale-members
        v-if="selected.members"
        :locale="selected.locale"></locale-members>

    <locale-elders
        v-if="selected.elders"
        :locale="selected.locale"></locale-elders>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'
import PageLoader from '@/components/common/page-loader'
import LocaleMembers from '@/pages/admin/locales/members/list'
import LocaleElders from '@/pages/admin/locales/elders/list'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      locales: null,
      loading: true,
      selected: {
        members: false,
        elders: false,
        locale: null,
      }
    }
  },

  mounted() {
    this.getAllLocales()
  },

  methods: {
    getAllLocales() {
      const vm = this
      const url = `${this.baseUrl}/api/locales`

      this.$http.get(url).then(response => {
        vm.loading = false
        if (response && response.data) {
          vm.locales = response.data.data
        }
      })
    },

    newLocale() {
      this.$router.push({
        name: 'locale.new',
      })
    },

    view(type, locale) {
      if (type === 'members') {
        this.selected.members = true
        this.selected.elders = false
        this.$store.dispatch('locales/viewLocaleMembers', true)
      }

      if (type === 'elders') {
        this.selected.members = false
        this.selected.elders = true

        this.$store.dispatch('locales/viewLocaleElders', true)
      }

      this.selected.locale = locale
    }
  },

  components: {
    DefaultLayout,
    PageLoader,
    LocaleMembers,
    LocaleElders,
  },
}
</script>
