<template>
  <div>
    <div>
      <div class="text-center">
        <h3>Locale of {{ locale.name }} Elders</h3>
      </div>

      <br><br>

      <div class="text-center" v-if="loading">
        <br><br>
        <page-loader></page-loader>
        <h5>Loading</h5>
      </div>

      <div v-if="!loading">
        <div class="text-center"
             v-if="!elders || elders.length === 0">
          <br><br>
          <h4>
            <strong>No Elders</strong>
          </h4>
        </div>

        <div v-else>
          <br><br>
          <table id="localeList" class="table table-striped video-table">
            <thead>
            <tr>
              <th class="col-sm-1 text-center">Church ID</th>
              <th class="col-sm-1 text-center">Name</th>
              <th class="col-sm-1 text-center">Email</th>
              <th class="col-sm-1 text-center">Mobile Number</th>
              <th class="col-sm-1 text-center">Status</th>
            </tr>
            </thead>

            <tbody>
            <tr class="text-center" v-for="elder in elders">
              <td>
                {{ elder.church_id }}
              </td>

              <td>
                {{ elder.first_name }} {{ elder.last_name }}
              </td>

              <td>
                {{ elder.email }}
              </td>

              <td>
                {{ elder.mobile_number }}
              </td>

              <td>
                {{ elder.status }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import GlobalMixin from '@/mixins/global'
  import DefaultLayout from '@/layouts/default-layout'
  import PageLoader from '@/components/common/page-loader'

  export default {
    mixins: [GlobalMixin],

    data() {
      return {
        loading: true,
        elders: null,
      }
    },

    props: {
      locale: {
        required: true
      },
    },

    mounted() {
      this.getLocaleMembers()
    },

    methods: {
      getLocaleMembers() {
        const vm = this
        const url = `${this.baseUrl}/api/users/elders/${this.locale.id}`

        this.$http.get(url).then(response => {
          vm.loading = false
          if (response && response.data) {
            vm.elders = response.data.data
          }
        })
      },

      newLocale() {
        this.$router.push({
          name: 'locale.new',
        })
      },
    },

    components: {
      DefaultLayout,
      PageLoader,
    },
  }
</script>
