<template>
  <div class="container">
    <nav class="c-tab" v-if="!loading.users && !loading.locales">
      <ul class="c-tab__list">
        <li
            aria-controls="requests-panel"
            aria-expanded="true"
            aria-selected="true"
            class="c-tab__list__item"
            :class="{'is-selected': tabVisible === 'hookup'}"
            id="requests"
            @click="tab('hookup')">
          Hookup Requests
        </li>
        <li
          aria-controls="users-panel"
          aria-expanded="false"
          aria-selected="false"
          class="c-tab__list__item"
          :class="{'is-selected': tabVisible === 'users'}"
          id="users"
          @click="tab('users')">
          Users
        </li>

        <li
            aria-controls="locales-panel"
            aria-expanded="false"
            aria-selected="false"
            class="c-tab__list__item"
            :class="{'is-selected': tabVisible === 'locales'}"
            id="locales"
            @click="tab('locales')">
          Locales
        </li>
      </ul>
      <div
          aria-labelledby="requests"
          class="c-tab__panel u-p"
          id="requests-panel"
          v-if="tabVisible === 'hookup'">
        <hookup-requests
            :users="users"
            :locales="locales"
        ></hookup-requests>
      </div>
      <div
          aria-labelledby="users"
          class="c-tab__panel u-p"
          id="users-panel"
          v-if="tabVisible === 'users'">
        <user-list
            :users="users"
            :locales="locales"
        ></user-list>
      </div>
      <div
          aria-labelledby="locales"
          class="c-tab__panel u-p"
          id="locale-panel"
          v-if="tabVisible === 'locales'">
        <locale-list></locale-list>
      </div>
    </nav>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'
import HookupRequests from '@/pages/admin/hookup/list'
import UserList from '@/pages/admin/users/list'
import LocaleList from '@/pages/admin/locales/list'
import UserService from '@/services/users'
import LocaleService from '@/services/locales'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      tabVisible: 'hookup',
      users: null,
      locales: null,
      loading: {
        users: true,
        locales: true,
      },
    }
  },

  mounted() {
    this.getAllUsers()
    this.getAllLocales()
  },

  methods: {
    tab(type) {
      this.tabVisible = type
    },

    getAllUsers() {
      const vm = this
      const getUsers = UserService.getAllUsers()

      getUsers.then(response => {
        vm.loading.users = false
        if (response && response.data) {
          vm.users = response.data.data
        }
      })
    },

    getAllLocales() {
      const vm = this
      const getLocales = LocaleService.getAllLocales()

      getLocales.then(response => {
        vm.loading.locales = false
        if (response && response.data) {
          vm.locales = response.data.data
        }
      })
    },
  },

  components: {
    DefaultLayout,
    HookupRequests,
    UserList,
    LocaleList,
  },
}
</script>
