body {
    font-family: 'Open Sans', sans-serif;
    background:#E5EBF2;
}

.container {
    padding: 50px 60px;
    min-height: 100%;
    background:#E5EBF2;
}

.hookup-form fieldset {
    padding: 0 0 20px 0;
}

