<template>
  <div class="container">
    <div>
      <div class="text-center">
        <h3>{{ pageTitle }}</h3>
      </div>

      <br><br>

      <div class="text-center alert-success" v-if="afterSubmit.success">
        <br>
        <h3>Great!</h3>

        <br>

        <p v-if="!userSelected">
          We have successfully registered {{ form.first_name }} {{ form.last_name }}.
        </p>

        <p v-else>
          We have successfully updated the details for {{ form.first_name }} {{ form.last_name }}.
        </p>

        <br>
      </div>

      <div class="text-center alert-danger"
           v-if="afterSubmit.error">
        <br>
        <h3>There was an error with your request.</h3>
        <br>
        <p>Please try again.</p>
        <br>
      </div>

      <div v-if="afterSubmit.success || afterSubmit.error">
        <br><br>

        <button class="c-btn c-btn--primary c-btn--full"
                v-if="!userSelected"
                @click="showForm">Create another user</button>

        <br><br>

        <button class="c-btn c-btn--full"
                @click="returnToList">Return to dashboard</button>
      </div>

      <div v-if="!requestLoading.locales">
        <form class="hookup-form"
              v-show="!afterSubmit.success && !afterSubmit.error"
              @submit.prevent="createNewUser">
          <fieldset>
            <label for="first_name">
              First Name <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="first_name"
                   placeholder="First Name" required=""
                   v-model="form.first_name">
          </fieldset>

          <fieldset>
            <label for="last_name">
              Last Name <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="last_name"
                   placeholder="Last Name" required=""
                   v-model="form.last_name">
          </fieldset>

          <fieldset>
            <label for="mobile_number">
              Mobile Number <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="mobile_number"
                   placeholder="Mobile Number" required=""
                   v-model="form.mobile_number">
          </fieldset>

          <fieldset>
            <label for="email">
              Email <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="email"
                   placeholder="Email" required="" type="email"
                   v-model="form.email">
          </fieldset>

          <fieldset>
            <label for="password">
              Password <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="password"
                   placeholder="Password" required=""
                   v-model="form.password">

            <div v-if="userSelected">
              <br>
              <button class="c-btn c-btn--muted c-btn--sm" @click.prevent="generatePassword">Generate New
              Password</button>
            </div>
          </fieldset>

          <fieldset>
            <label for="church_id">
              Church ID <span class="required">*</span>
            </label>

            <input class="c-txt__input" id="church_id"
                   placeholder="Church ID" required=""
                   v-model="form.church_id">
          </fieldset>

          <fieldset>
            <label for="user">
              Locale <span class="required">*</span>
            </label>

            <select class="c-txt__input c-txt__input--select" id="user"
                    v-model="form.locale_id">
              <option value="empty">--Select a locale--</option>
              <option v-for="locale in locales"
                      :value="locale.id">
                {{ locale.name }}
              </option>
            </select>
          </fieldset>

          <fieldset>
            <div class="l-grid__item u-1/3">
              <div class="c-chk u-mb-xs">
                <input class="c-chk__input" id="is_elder" type="checkbox"
                       value="is_elder"
                       v-model="form.is_elder">
                <label class="c-chk__label c-chk__label--regular" for="is_elder">Set as Elder</label>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="l-grid__item u-1/3">
              <div class="c-chk u-mb-xs">
                <input class="c-chk__input" id="is_admin" type="checkbox"
                       value="is_elder"
                       v-model="form.is_admin">
                <label class="c-chk__label c-chk__label--regular" for="is_admin">Set as Admin</label>
              </div>
            </div>
          </fieldset>

          <button class="c-btn" @click="returnToList">Cancel</button>
          &nbsp;&nbsp;
          <button class="c-btn c-btn--primary"
                  :disabled="!canSubmit"
                  type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import GlobalMixin from '@/mixins/global'
  import DefaultLayout from '@/layouts/default-layout'
  import PageLoader from '@/components/common/page-loader'
  import UserService from '@/services/users'
  import LocaleService from '@/services/locales'

  export default {
    mixins: [GlobalMixin],

    data() {
      return {
        requests: null,
        loading: true,
        afterSubmit: {
          error: false,
          success: false,
        },
        form: {
          first_name: null,
          last_name: null,
          mobile_number: null,
          email: null,
          password: null,
          locale_id: null,
          role_id: 9, // Role member by default
          church_id: null,
          status: 'active',
          is_elder: 0,
          is_admin: 0
        },
        locales: null,
        requestLoading: {
          locales: true,
          submit: false,
        },
      }
    },

    computed: {
      canSubmit() {
        return this.form.first_name
          && this.form.last_name
          && this.form.mobile_number
          && this.form.email
          && this.form.password
          && this.form.locale_id
          && this.form.church_id
      },

      canGeneratePassword() {
        return this.form.first_name && this.form.last_name && !this.form.password && !this.userSelected
      },

      userSelected() {
        return this.storeStates.request.selected.user
      },

      pageTitle() {
        if (this.userSelected) {
          return 'Edit User'
        }

        return 'Create New User'
      }
    },

    watch: {
      canGeneratePassword(canGenerate) {
        if (canGenerate) {
          this.generatePassword()
        }
      },
    },

    mounted() {
      this.getAllLocales()

      this.populateUserDetails()
    },

    methods: {
      populateUserDetails() {
        if (this.userSelected) {
          this.form.first_name = this.userSelected.first_name
          this.form.last_name = this.userSelected.last_name
          this.form.mobile_number = this.userSelected.mobile_number
          this.form.email = this.userSelected.email
          this.form.church_id = this.userSelected.church_id
          this.form.locale_id = this.userSelected.locale_id
          this.form.is_elder = this.userSelected.is_elder
          this.form.is_admin = this.userSelected.is_admin
          this.form.status = this.userSelected.status
          this.form.role_id = this.userSelected.role_id
          this.form.password = this.userSelected.password
        }
      },

      getAllLocales() {
        const vm = this
        const getLocales = LocaleService.getAllLocales()

        getLocales.then(response => {
          vm.requestLoading.locales = false
          if (response && response.data) {
            vm.locales = response.data.data
          }
        })
      },

      randomGen() {
        return Math.random().toString(36).substring(2, 8)
      },

      generatePassword() {
        const first_name = this.form.first_name
        const last_name = this.form.last_name

        const random = this.randomGen()
        const nameCombine = `${first_name.substring(0,1).toUpperCase()}${last_name.substring(0,1).toUpperCase()}`

        this.form.password = `${nameCombine}-${random}`
      },

      createNewUser() {
        const vm = this

        const currentMobile = this.form.mobile_number
        let mobile_format = currentMobile

        if (currentMobile.substring(0,1) === '0') {
          mobile_format = `+61${currentMobile.substring(1)}`
        }

        const data = {
          first_name: this.form.first_name,
          last_name: this.form.last_name,
          mobile_number: mobile_format,
          email: this.form.email,
          password: this.form.password,
          locale_id: this.form.locale_id,
          role_id: this.form.role_id,
          church_id: this.form.church_id,
          status: this.form.status,
          is_elder: this.form.is_elder,
          is_admin: this.form.is_admin
        }

        this.requestLoading.submit = true

        let url = `${this.baseUrl}/api/users`


        if (this.userSelected) {
          url = `${this.baseUrl}/api/users/${this.userSelected.id}`

          this.$http.put(url, data).then(response => {
            vm.requestLoading.submit = false

            if (response && response.data) {
              if (response.data.success) {
                vm.afterSubmit.success = true
              } else {
                vm.afterSubmit.error = true
              }
            }
          })
        } else {
            this.$http.post(url, data).then(response => {
              vm.requestLoading.submit = false

              if (response && response.data) {
                if (response.data.success) {
                  vm.afterSubmit.success = true
                } else {
                  vm.afterSubmit.error = true
                }
              }
            })
        }
      },

      returnToList() {
        this.$router.push({
          name: 'home.index',
        })

        vm.$store.dispatch('request/selectedUser', null)
      },

      showForm() {
        this.afterSubmit.success = false
        this.afterSubmit.error = false

        this.form.first_name = null
        this.form.last_name = null
        this.form.mobile_number = null
        this.form.email = null
        this.form.password = null
        this.form.locale_id = null
        this.form.church_id = null
      },
    },

    components: {
      DefaultLayout,
      PageLoader,
    },
  }
</script>
