<template>
  <div>
    <div>
      <div class="text-center">
        <h3>Users</h3>
      </div>

      <br><br>

      <div class="text-center" v-if="loading">
        <br><br>
        <page-loader></page-loader>
        <h5>Loading</h5>
      </div>

      <div v-if="!loading">
        <button class="c-btn c-btn--sm c-btn--primary" @click="newUser">
            <i class="fa fa-plus"></i> New User
        </button>

        <div class="text-center"
             v-if="!users || users.length === 0">
          <br><br>
          <h4>
            <strong>No Users</strong>
          </h4>
        </div>

        <div v-else>
          <br><br>
          <table id="userList" class="table table-striped videos-table">
            <thead>
            <tr>
              <th class="col-sm-1 text-center">Church ID</th>
              <th class="col-sm-1 text-center">Name</th>
              <th class="col-sm-1 text-center">Email</th>
              <th class="col-sm-1 text-center">Mobile Number</th>
              <th class="col-sm-1 text-center">Locale</th>
              <th class="col-sm-1 text-center">Role</th>
              <th class="col-sm-1 text-center">Status</th>
              <th class="col-sm-1 text-center">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr class="text-center" v-for="user in users">
              <td>
                {{ user.church_id }}
              </td>
              <td>
                {{ user.first_name }} {{ user.last_name }}
              </td>
              <td>
                {{ user.email }}
              </td>
              <td>
                {{ user.mobile_number }}
              </td>
              <td>
                {{ user.locale_id }}
              </td>
              <td>
                {{ user.role.description }}
              </td>
              <td>
                {{ user.status }}
              </td>
              <td>
                <button class="c-btn c-btn--sm c-btn--primary" @click="request(user)">Request Hookup</button>
                <br><br>
                <button class="c-btn c-btn--sm c-btn--default" @click="edit(user)">Edit</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'
import PageLoader from '@/components/common/page-loader'
import UserService from '@/services/users'

export default {
  mixins: [GlobalMixin],

  data() {
    return {
      users: null,
      loading: true,
    }
  },

  mounted() {
    this.getAllUsers()
  },

  methods: {
    getAllUsers() {
      const vm = this
      const getUsers = UserService.getAllUsers()

      getUsers.then(response => {
        vm.loading = false
        if (response && response.data) {
          vm.users = response.data.data
        }
      })
    },

    newUser() {
      this.$router.push({
        name: 'user.new',
      })
    },

    request(user) {
      this.$store.dispatch('request/selectedUser', user)

      this.$router.push({
        name: 'request.new',
      })
    },

    edit(user) {
      this.$store.dispatch('request/selectedUser', user)

      this.newUser()
    }
  },

  components: {
    DefaultLayout,
    PageLoader,
  },
}
</script>
