<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
/* ============
     * Entry Point
     * ============
     *
     * The entry point of the application
     */

export default {
  /**
   * The name of the application.
   */
  name: 'file-repo-au',
}
</script>

<!-- TODO: convert CSS into scss-->
<!--<style lang="scss" scoped>
  @import './assets/scss/app.scss';
</style>-->

<style>
@import './assets/css/form/main.css';
@import './assets/css/form/util.css';
@import './assets/css/bootstrap.css';
@import './assets/css/custom-styles.css';
@import './assets/css/font-awesome.css';
</style>

<style lang="sass">
  @import './assets/scss/app'
</style>
