<template>
  <div>
    <div id="wrapper">
      <nav-top></nav-top>

      <div id="full-page-wrapper">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import NavTop from '@/layouts/nav-top'

export default {
  components: {
    NavTop,
  },
}
</script>
