<template>
  <div>
    <div id="wrapper">
      <nav-top></nav-top>
      <side-bar></side-bar>

      <div id="page-wrapper">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import NavTop from '@/layouts/nav-top'
import SideBar from '@/layouts/nav-side'

export default {
  components: {
    NavTop,
    SideBar,
  },
}
</script>
