<template>
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <router-link
             :to="{ name: 'upload.index' }">
            <i class="fa fa-desktop"></i> Upload
          </router-link>
        </li>

        <li>
          <router-link
                       :to="{ name: 'reports.index' }">
            <i class="fa fa-bar-chart-o"></i> Reports
          </router-link>
        </li>

        <li>
          <router-link
              :to="{ name: 'admin.index' }">
            <i class="fa fa-bar-chart-o"></i> Admin
          </router-link>
        </li>

        <li>
          <router-link
              :to="{ name: 'users.index' }">
            <i class="fa fa-bar-chart-o"></i> Users
          </router-link>
        </li>

      </ul>

    </div>
  </nav>
</template>
