<template>
  <div class="container">
    <div>
      <h2 class="text-center">Request List</h2>
    </div>

    <div>
      <br><br>

      <h3>Hookup Requests</h3>

      <br><br>
      <table id="hookupList" class="table table-striped videos-table">
        <thead>
        <tr>
          <th class="col-sm-1 text-center">Name</th>
          <th class="col-sm-1 text-center">Locale</th>
          <th class="col-sm-1 text-center">Reason</th>
          <th class="col-sm-1 text-center">Request Created At</th>
          <th class="col-sm-1 text-center">Actions</th>
        </tr>
        </thead>

        <tbody>
          <tr class="text-center">
            <td>Rafunzel Niocena</td>
            <td>Melbourne</td>
            <td>Testing</td>
            <td>22/11/2018 11:00pm</td>
            <td>
              <button class="c-btn c-btn--sm c-btn--primary">Approve</button>
              <br><br>
              <button class="c-btn c-btn--sm c-btn--danger">Decline</button>
            </td>
          </tr>

          <tr class="text-center">
            <td>Raffy Nio</td>
            <td>Melbourne</td>
            <td>Testing</td>
            <td>22/11/2018 11:30pm</td>
            <td>
              <button class="c-btn c-btn--sm c-btn--primary">Approve</button>
              <br><br>
              <button class="c-btn c-btn--sm c-btn--danger">Decline</button>
            </td>
          </tr>

          <tr class="text-center">
            <td>Raff Niocena</td>
            <td>Melbourne</td>
            <td>Testing</td>
            <td>22/11/2018 11:40pm</td>
            <td>
              <button class="c-btn c-btn--sm c-btn--primary">Approve</button>
              <br><br>
              <button class="c-btn c-btn--sm c-btn--danger">Decline</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div>
      <br><br>

      <h3>Makeup Requests</h3>

      <br><br>
      <table id="makeupList" class="table table-striped videos-table">
        <thead>
        <tr>
          <th class="col-sm-1 text-center">Name</th>
          <th class="col-sm-1 text-center">Locale</th>
          <th class="col-sm-1 text-center">Gathering Type</th>
          <th class="col-sm-1 text-center">Gathering Date</th>
          <th class="col-sm-1 text-center">Reason</th>
          <th class="col-sm-1 text-center">Request Created At</th>
          <th class="col-sm-1 text-center">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr class="text-center">
          <td>Rafunzel Niocena</td>
          <td>Melbourne</td>
          <td>Worship Service</td>
          <td>10/11/2018</td>
          <td>Testing</td>
          <td>22/11/2018 11:00pm</td>
          <td>
            <button class="c-btn c-btn--sm c-btn--primary">Approve</button>
            <br><br>
            <button class="c-btn c-btn--sm c-btn--danger">Decline</button>
          </td>
        </tr>

        <tr class="text-center">
          <td>Raffy Nio</td>
          <td>Melbourne</td>
          <td>Prayer Meeting</td>
          <td>22/11/2018</td>
          <td>Testing</td>
          <td>22/11/2018 11:30pm</td>
          <td>
            <button class="c-btn c-btn--sm c-btn--primary">Approve</button>
            <br><br>
            <button class="c-btn c-btn--sm c-btn--danger">Decline</button>
          </td>
        </tr>

        <tr class="text-center">
          <td>Raff Niocena</td>
          <td>Melbourne</td>
          <td>Thanksgiving</td>
          <td>09/11/2018</td>
          <td>Testing</td>
          <td>22/11/2018 11:40pm</td>
          <td>
            <button class="c-btn c-btn--sm c-btn--primary">Approve</button>
            <br><br>
            <button class="c-btn c-btn--sm c-btn--danger">Decline</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import GlobalMixin from '@/mixins/global'
import DefaultLayout from '@/layouts/default-layout'

export default {
  mixins: [GlobalMixin],

  components: {
    DefaultLayout,
  },
}
</script>
